* {
    font-family: "Poppins", serif;
}
.container-color {
    background-color: var(--primary-green);
    opacity: 20%;
}

.small-p {
    color: var(--secondary-green);
}

.primary-background,
.main-container {
    background-color: var(--primary-green);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

html {
    overflow-x: hidden;
}
