section{
    overflow-x: hidden;
}
header {
    background-color: snow;
}

.logo {
    aspect-ratio: 1/1;
    height: 2rem;
    width: 2rem;
}

.dashboard-section{
    background-color: #00A9A5;
    
}