section {
    overflow-x: hidden;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > * {
    width: 100%;
}

header {
    background-color: snow;
}

footer {
    background-color: snow;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
    color: #333;
    box-shadow: #333 0px 0px 2px;
}

html,
body {
    height: 100%; /* Ensure the html and body elements take up the full height of the viewport */
    margin: 0; /* Remove default margin */
}

body {
    display: flex;
    flex-direction: column; /* Set the body to use flexbox with a vertical layout */
}

main {
    flex: 1; /* Make the main element grow to fill the remaining space */
    display: flex;
    flex-direction: row; /* Optional: Ensure content inside main is also flexbox */
}

nav {
    box-shadow: #333 0px 0px 2px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.col-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    aspect-ratio: 1/1;
    height: 2rem;
    width: 2rem;
}

.dashboard-section {
    background-color: snow;
}

aside {
    background-color: #00A9A5;
    height: 100%;
    width: 40dvh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 1rem;
    transition: 0.3s ease;
    z-index: 1000;
    box-shadow: #333 0px 0px 2px;
}

.off-screen-nav.active {
    width: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

aside > ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 0;
}

aside > ul > a > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    padding: 1rem;
    border-radius: 5px;
    background-color: #00A9A5;
    color: white !important;
    width: 100%;
    transition: 0.3s ease;
}

aside >ul > a > li:hover,
aside > ul > a > li.active {
    background-color: #008080;
}

aside > ul > a {
    color: white !important;
    width: 100%;
    padding: 0.4rem;
}

.link-container {
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification {
    z-index: 1000;
}

.primary-background {
    background-color: var(--primary-green);
    color: white;
}
