form {
    padding: 1em;
    border-radius: 1em;
    border: solid var(--primary-green) medium;
    background-color: var(--bs-light);
}
input[type=search] {
    background-color: var(--bs-light);
    border-width: 0 0 0.5px 0;
    border-color: var(--primary-green);
    outline: none;
}

#topContent {
    width: 100dvw;
    padding: 2rem 0;
}

#topContent .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#replies {
    margin-left: 6rem;
    border-left: 2px solid var(--primary-green);
    padding-left: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active > .page-link{
    background-color: var(--primary-green) !important;
    border-color: transparent !important;
}

:not(.active) > .page-link:hover {
    background-color: var(--primary-green-opacity) !important;
    border-color: var(--primary-green);
    color: var(--primary-green);
}

.page-link {
    color: var(--primary-green);
    transition: 0.3s ease-in-out;
}

.fundimage {
    width: 100%;
    height: 100%;
}

.img-fluid {
    object-fit: cover;
    min-width: 3em;
}

.commentform,
.replyform {
    border: none;
    width: 100%;
}

.commentform textarea,
.replyform textarea {
    border-radius: 1rem;
    padding: 1rem;
    background-color: transparent;
    width:100%;
    height: min-content;
    outline: none;
}

.min-height-75 {
    min-height: 75dvh;
}

.btn-group > label {
    color: var(--primary-green);
    border: thin solid var(--primary-green) !important;
}

.btn-group > label:hover {
    background-color: var(--primary-green-opacity) !important;
    border: thin solid var(--primary-green) !important;
    color: var(--primary-green) !important;
}

.btn-group > .btn-check:checked + label{
    background-color: var(--primary-green) !important;
    border: thin solid var(--primary-green) !important;
    color: white !important;
}

.right-content *{
    width: 100%;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.right-content form {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.custom-carousel-btn {
    height: 50px !important;
    top: 50%;
    transform: translateY(-50%);
}

.carousel {
    width: 100% !important;
    height: 100% !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 20px !important;
    width: 20px !important;
}

.carousel-item img,
.carousel-item video{
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 40dvw !important;
    max-height: 50dvh !important;
}

@media screen and (max-width: 960px)  {
    .datarow {
        flex-direction: column !important;
    }
    .datarow > * {
        padding: 1rem 0;
    }

    .right-content {
        width: 100% !important;
        max-width: 100dvw !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #commentSection {
        padding: 1rem !important;
        gap: 1rem !important;
        width: 100% !important;
        max-width: 100dvw !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 !important;
        border: none !important;
    }
}

@media  screen and (max-width: 1200px) {
    .container .row {
        gap: 2rem;
        flex-direction: column;
        width: 100%;
    }

    .btn-group {
        width: 100%;
        flex-direction: column;
    }

    .btn-check {
        width: 100%;
    }

    .btn-group > label {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }

    #topContent .row > * {
        width: 100%;
    }

    #commentSection {
        padding: 1rem !important;
        gap: 1rem !important;
        width: 100% !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 !important;
        border: none !important;
    }

    #commentSection .row {
        width: 100%;
        flex-direction: row !important;
        padding: 0 !important;
        justify-content: start;
        align-items: start;
        margin: 0.5rem 0;
    }

    #commentSection .row .col{
        width: max-content;
        align-items: start !important;
        /* justify-content: start !important; */
    }

    #commentSection .row .col img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    #replies .row {
        flex-direction: row !important;
    }

    #replies .row .col {
        width: fit-content;
        align-items: start !important;
    }

    .carousel {
        height: 360px !important;
    }

    .carousel-item {
        height: 360px !important;
    }

    .carousel-item img {
        width: 90% !important;
        height: 360px !important;
        object-fit: cover;
    }

}
