* {
    margin: 0;
    padding: 0;
}

body {
    width: 50%;
}

.sign-in-btn {
    background-color: var(--primary-green);
}

.sign-up,
.forgot-password {
    text-decoration: none;

    color: var(--primary-green);
}

@media screen and (max-width: 600px) {
    body {
        width: 80%;
    }
}
