main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--primary-green-opacity);
}
aside {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside > div > div > div:first-child {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0 2rem 2rem;
    border-radius: 2rem;
    padding-bottom: 2rem ;
}
aside > div > div > div:nth-child(2) {
    max-width: 1px;
    margin-left: 3rem;
}

section {
    width: 60%;
    display: flex;
    justify-content: start !important;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    min-height: 90dvh !important;
    margin: 1rem 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
form > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.balfund > div {
    text-wrap: nowrap;
}

.profiletop > div{
    padding: 1rem 0;
}

.customborder {
    border: 1px solid var(--primary-green);
    height: 80dvh;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu ul a li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}
.menu ul a li:hover {
    background-color: var(--primary-green-opacity);
    cursor: pointer;
}

.menu ul a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.listRow > *{
    width: 100%;
    justify-content: start !important;
    align-items: start !important;
}

.accordion {
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .customborder {
        display: none;
    }
}
