main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--primary-green-opacity);
}
aside {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside > .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
}

aside > .container > .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

aside > .container > .row > .col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


aside > div > div > div:first-child {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0 2rem 2rem;
    border-radius: 2rem;
    padding-bottom: 2rem ;
    max-width: 20rem;
}
aside > div > div > div:nth-child(2) {
    max-width: 1px;
    margin-left: 3rem;
}

section {
    width: 70% !important;
    display: flex;
    justify-content: start !important;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    min-height: 90dvh;
    margin: 2rem 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
form > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

.balfund > div {
    text-wrap: nowrap;
}

.profiletop > div{
    padding: 1rem 0;
}

.customborder {
    border: 1px solid var(--primary-green);
    height: 80dvh;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu ul a li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}
.menu ul a li:hover {
    background-color: var(--primary-green-opacity);
    cursor: pointer;
}

.menu ul a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.listRow > *{
    width: 100%;
    justify-content: start !important;
    align-items: start !important;
}

.accordion {
    width: 100%;
}

.form-check-input[type="checkbox"] {
    width: 2.6rem;
    height: 1.3rem;
}

.form-check-input:checked {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
}

.btn-group > label {
    color: var(--primary-green);
    border: thin solid var(--primary-green) !important;
}

.btn-group > label:hover {
    background-color: var(--primary-green-opacity) !important;
    border: thin solid var(--primary-green) !important;
    color: var(--primary-green) !important;
}

.btn-group > .btn-check:checked + label{
    background-color: var(--primary-green) !important;
    border: thin solid var(--primary-green) !important;
    color: white !important;
}

@media screen and (max-width: 768px) {
    .listRow .col .row .col {
        flex-direction: column;
        align-items: start !important;
        justify-content: start !important;
        gap: 0.5rem;
        width: 100%;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .btn-group {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .btn-group > label {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    main {
        flex-direction: column;
        padding: 1rem 0;
    }
    aside {
        width: 100%;
        padding: 0 1rem;
    }

    aside > .container {
        max-width: none;
        width: 95% !important;
        padding: 1rem 0 !important;
        margin: 0;
        gap: 0;
    }

    aside > .container > .row {
        flex-direction: column;
        gap: 0;
    }

    aside > .container > .row > .col {
        width: 100%;
        padding: 1rem 0;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .menu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    .menu ul a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .menu ul a li {
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 2rem;
        text-align: center;
    }

    .listRow {
        flex-direction: column;
        gap: 1rem;
        grid: none;
    }

    .listRow > *{
        width: 100%;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }

    aside > div > div > div:first-child {
        margin: 0;
        max-width: 100%;
        padding-bottom: 1rem ;
    }

    section {
        width: 90% !important;
        min-height: 1dvh !important;
        height: fit-content !important;
        margin: 1rem !important;
    }
    .customborder {
        display: none;
    }

}

@media screen and (max-width: 1390px) {
    .customborder {
        display: none;
    }
}
