* {
    font-family: "Poppins", serif;
    /* max-width: 1480px; */
}
.container-color {
    background-color: var(--primary-green-opacity);
}

.small-p {
    color: var(--secondary-green);
}

.primary-background,
.main-container {
    background-color: var(--primary-green);
    transition: 0.3s ease-in-out;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    justify-content: center;
}

html,
body {
    /* overflow-x: hidden; */
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
}

.section-background-size {
    width: 100%;
    height: 100%;
    max-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    filter: opacity(50%);
}

.bg-container-transparent {
    background-color: rgba(255, 255, 255, 0.95);
}

nav {
    width: 100dvw;
}

section {
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button, .btn {
    border: none;
}

#navbarButton .btn,
#navbarButton button {
    border: 1px solid var(--primary-green);
}

.btn:hover {
    background-color: var(--secondary-green);
    transition: 0.3s ease-in-out;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-l {
    align-items: start;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.primary-background:disabled {
    background-color: var(--primary-green-opacity);
}


@media screen and (max-width: 960px) {
    footer .container-fluid .row .col-3 {
        display: none !important;
    }

    footer .d-flex {
        display: block !important;
    }

    footer .flex {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .socialCopy {
        width: 100%;
    }

    #copyright {
        text-align: center;
    }
}
