.our-goals {
    min-height: max-content;
    padding: 5rem 1rem;
}

.imagesOrVideo{
    max-height: 20rem;
    object-fit: cover;
}

body {
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {
    .recommended-projects .container .row {
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .swiper-wrapper {
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .swiper-slide {
        width: 100% !important;
    }

}

@media screen and (max-width: 960px)  {
    .hero {
        text-align: center;
    }
    .hero .flex-sm-row {
        flex-direction: column;
    }
    .hero-right {
        display: none !important;
    }
    .big-hero-left{
        display: block !important;
    }
    .hero-left {
        max-height: 1024px;
    }
    .card-container,
    .grid-container {
        display: block !important;
    }
    .under-card {
        flex-direction: column;
        justify-content: space-between;
        min-height: 80px;
    }
    .col-l {
        align-items: center !important;
    }
}
